/* This is the main stylesheet for the website */

/* Font for the header */
/* font not working on firefoxs */ 

@font-face {
	font-family: 'quicksand-bold';
	src: url('Quicksand-Bold.otf');
}

/* Styling for the main website layout*/
/* Applicable to all pages*/
body {
	border-style: solid;
    border-width: 1px;
	border-color: #000000;
	margin: auto;
	width:72.5%;
	background-color: #e6e6e6;
}

.top {
	width: 100%;
	height: 8em;
	background-color: Black;
	overflow: hidden;
}

/* Eventually make the navigation icons and close link change size when the mouse is hovered on it. */ 
#icon {
	float: left;
	overflow: hidden; 
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

#icon :hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

#name {
	padding-top: 0.25em;
	color: White;
	text-align: center;
	overflow: hidden;
	font-family:'quicksand-bold';
	font-size: 1.5em;
}

#name :hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

footer {
	overflow: hidden;
	width: 100%;
	height:3em;
	color: White;
	background-color: Black;
	text-align: center;
	font-size: 1em;
	font-family:'quicksand-bold';
}


/* Styling for index.html */
.wrapper {
  	padding-top: 0.8em;
  	display: grid;
  	grid-gap: 1em;
		grid-template-columns: 3;
		grid-template-rows: 3;
  	color: #444;
	height:100%;
	overflow: hidden;
	position: relative;
}

.box {
	background-color: #e6e6e6;
	color: Black;
	border-radius: 5px;
	padding: 20px;
	font-size: 100%;
}

#shield {
	width: 100%;
}

.a {
	grid-column: 1;
	grid-row: 1/3;
}

.b {
	grid-column: 2;
	grid-row: 1;
}

.c {
	grid-column: 2;
	grid-row: 2/3;
}

.d {
	grid-column: 3;
	grid-row: 1/3;
}

/* Styling for navigation */
a, .close{
	text-decoration: none;
	color: black;
	font-family:'quicksand-bold';
}

.close {
	text-align: center;
	width: 100%;
	background-color: #fbae17;
	font-size: 1.6em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#display{
	width: 100%;
}

.active {
	width: 100%;
	display: grid;
	grid-gap: 10em;
		grid-template-columns: 2;
		grid-template-rows: 2;
	height:100%;
	position: relative;
	background-color: #FFFFFF;
}

.inactive {
	display: none;
}

.w{
	grid-column:1;
	grid-row: 1;
	width: 48%;
}

.x{
	grid-column:2;
	grid-row: 1;
}
.y{
	grid-column:1;
	grid-row: 2;
}

.z{
	grid-column:2;
	grid-row: 2;
}

figcaption {
	text-align: center;
}