{% extends "layout.html" %}

{% block content %}
		<div class="wrapper">
			<div class="box a">
				<img id="shield" src="../static/img/shield_A.svg" alt="About">
			</div>
			<div class="box b">
				<a href="login"> 
					<img src="../static/img/login.svg" alt="Login Button" style="width: 100%;height: auto;">
				</a>
			</div>
			<div class="box c">
				<embed src="../static/img/shield_H.svg" style="width:100%;"></embed>
				<!-- Replaced the image (svg) with an embedded svg -->
			</div>
			<div class="box d">
				<img id="shield" src="../static/img/shield_N.svg" alt="News">
			</div>
		</div>
{% endblock %}